body {
    color: rgb(36, 36, 36);
    font-family: "Arimo", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

blockquote {
    background-color: #bbbbbb8a;
    margin-left: 0px;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

mark {
    border-bottom: 1px solid rgb(100, 148, 237);
    background-color: transparent;
    color: rgb(36, 36, 36);
}

h1 {
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 3.6rem;
    text-align: center;
    line-height: 8rem;
    margin: 0px 0 -30px 0;
}

main,
section,
footer,
aside,
article,
header {
    width: 100%;
}


/* SUBTITULO DO SITE */
#subtitle {
    font-size: 1.2rem;
    margin: 20px;
    text-align: center;
    color: rgb(92, 92, 92);
    font-family: "Arimo", sans-serif;
    font-weight: 100;
}

/* DESC DA CAIXA/ÁREA AZUL */
#description {
    width: 100%;
    font-size: 1.2rem;
    padding: 5px 20px;
    line-height: 1.3em;
    text-align: justify;
    background-color: rgba(96, 152, 255);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

/* ÁREA DO CONTEUDO PRINCIPAL NAS PG PÚBLICAS */
.content {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 5px 25px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    color: rgb(75, 75, 75);
}

/* ÁREA QUE CONTÉM O FORMULÁRIO */
#form_area {
    width: 100%;
    border-radius: 0;
    margin-top: 20px;
    padding: 25px 20px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
}

/* ITENS DO FORMULÁRIO */
.item {
    display: block;
    margin-bottom: 40px;
}

.item label {
    display: block;
    margin-bottom: 15px;
}

.item .input,
.item .select {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 8px;
    border-bottom: 1px solid rgb(148, 148, 148);
    border-radius: 3px;
    color: rgb(92, 92, 92);
}

/* ÁREA QUE CONTÉM O BOTÃO CRIAR ALERTA */
.form-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TEXTO DE AJUDA -FORM */
.help-text {
    padding: 0px 0px 10px 0px;
    font-size: .9rem;
}


@media (min-width: 601px) {

    h1 {
        font-size: 3.75rem;
    }

    /* SUBTITULO DO SITE */
    #subtitle {
        font-size: 1.2rem;
    }

    /* DESC DA CAIXA/ÁREA AZUL */
    #description {
        padding: 1px 15px;
        border-radius: 5px;
        line-height: 1.4rem;
        font-size: 1.1rem;
    }

    main,
    section,
    footer,
    aside,
    article,
    header {
        margin: 10px auto 30px auto;
        max-width: 600px;
        width: 100%;
    }

    /* ÁREA DO CONTEUDO PRINCIPAL NAS PG PÚBLICAS */
    .content {
        line-height: 24px;
        border-radius: 5px;
        font-size: 1.0rem;
        box-sizing: border-box;
    }

    /* ITENS DO FORMULÁRIO */
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        flex-wrap: wrap;
    }

    .item label {
        flex: 1;
        margin-right: 5px;
        text-align: left;
    }

    .item .input,
    .item .select {
        flex: 2;
    }

    /* TEXTO DE AJUDA -FORM */
    .help-text {
        width: 100%;
        padding: 0px 0px 10px 190px;
        color: #999999;
        font-size: 13px;
    }

    /* ÁREA QUE CONTÉM O BOTÃO CRIAR ALERTA */
    .form-footer {}


}