/* RESPONSIVE.CSS - Adições e ajustes para outros tipos de tela */

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 3.6rem;
        text-align: center;
        line-height: 8rem;
        margin: 30px 0 -10px 0;

    }

    /* SUBTITULO DO SITE */
    #subtitle {
        font-size: 1.6rem;
        margin: 10px;
        text-align: center;

    }

    /* DESC DA CAIXA/ÁREA AZUL */
    #description {
        width: 100%;
        border-radius: 0;
        font-size: 1.2rem;
        padding: 5px 20px;
        line-height: 1.3em;
        text-align: justify;
    }

    /* ÁREA QUE CONTÉM O FORMULÁRIO */
    #form_area {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 25px 20px;
    }

    form {
        margin: 0;
        padding: 0;
    }

    input,
    select {
        display: block;
        font-size: 1.3rem;
    }

    label {
        font-size: 1.5rem;
    }

    /* ITENS DO FORMULÁRIO */
    .item {
        display: block;
        margin-bottom: 40px;
    }

    .item label {
        display: block;
        margin-bottom: 15px;
    }

    .item .input,
    .item .select {
        width: 100%;
        box-sizing: border-box;
        background-color: rgb(236, 236, 236);
        border: none;
        padding: 8px;
        border-bottom: 1px solid rgb(148, 148, 148);
        border-radius: 3px;
        color: rgb(92, 92, 92);
    }

    /* BOTÃO CRIAR ALERTA */
    .button {
        width: 40%;
        font-size: 1.5rem;
        border: none;
        padding: 10px;
        background-color: rgb(65, 65, 65);
        color: #ffffff;
        border-radius: 15px;
    }

    /* ÁREA QUE CONTÉM O BOTÃO CRIAR ALERTA */
    .form-footer {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    /* TEXTO FINAL DA PÁGINA */
    .txtfooter {
        text-align: center;
        padding-bottom: 10px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: .8rem;
        border: none;
    }


    #footer {
        padding: 10px 20px 0px 20px;
        box-sizing: border-box;
        color: rgb(75, 75, 75);
    }

    option,
    .option {
        font-size: 1.2rem;
        color: rgb(51, 51, 51);
    }

    /* MENUS DESKTOP-MOBILE */
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    /* ÁREA DO CONTEUDO PRINCIPAL NAS PG PÚBLICAS */
    .content {
        font-size: 1.2rem;
        line-height: 1.6rem;
        border-radius: 0px;
    }

    /* MENSAGEM DE ERRO E SUCESSO AO ENVIAR FORMULÁRIO */
    .confirmation,
    .error {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-top: 30px;
    }

    /* TEXTO DE AJUDA -FORM */
    .help-text {
        padding: 0px 0px 10px 0px;
        font-size: .9rem;
    }

}

@media (min-width: 481px) and (max-width: 600px) {

    /* MENUS DESKTOP-MOBILE */
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    /* DESC DA CAIXA/ÁREA AZUL */
    #description {
        width: 100%;
        border-radius: 0;
        font-size: 1.3rem;
        padding: 5px 20px;
        line-height: 1.3em;
    }

    h1 {
        text-align: center;
        font-size: 4.5rem;
        margin: 60px;
    }

    /* SUBTITULO DO SITE */
    #subtitle {
        font-size: 1.5rem;
        text-align: center;
        margin: 50px;
    }

    /* ÁREA QUE CONTÉM O FORMULÁRIO */
    #form_area {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 25px 20px;
        font-size: 1.6rem;
    }

    input,
    select {
        display: block;
        font-size: 1.6rem;
    }

    /* ITENS DO FORMULÁRIO */
    .item {
        display: block;
        margin-bottom: 40px;
    }

    .item label {
        display: block;
        margin-bottom: 15px;
    }

    .item .input,
    .item .select {
        width: 100%;
        box-sizing: border-box;
        background-color: rgb(236, 236, 236);
        border: none;
        padding: 8px;
        border-bottom: 1px solid rgb(148, 148, 148);
        border-radius: 3px;
        color: rgb(92, 92, 92);
    }

    /* ÁREA QUE CONTÉM O BOTÃO CRIAR ALERTA */
    .form-footer {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    option {
        font-size: 1.5rem;
    }

    /* BOTÃO CRIAR ALERTA */
    .button {
        width: 35%;
        font-size: 1.6rem;
        border-radius: 20px;
    }

    /* TEXTO FINAL DA PÁGINA */
    .txtfooter {
        text-align: center;
        padding-bottom: 40px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: .8rem;
        border: none;
    }

    #footer {
        padding: 10px 20px 0px 20px;
        background-color: rgb(245, 245, 245);
        box-sizing: border-box;
        color: rgb(75, 75, 75);
    }

    /* ÁREA DO CONTEUDO PRINCIPAL NAS PG PÚBLICAS */
    .content {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    /* MENSAGEM DE ERRO E SUCESSO AO ENVIAR FORMULÁRIO */
    .confirmation,
    .error {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 30px;
    }

    /* TEXTO DE AJUDA -FORM */
    .help-text {
        padding: 0px 0px 10px 0px;
        font-size: 1.2rem;
    }


}

@media (min-width: 601px) {

    /* SUBTÍTULO E TÍTULO */
    h1,
    #subtitle {
        text-align: center;
    }

    /* TEXTO FINAL DA PÁGINA */
    .txtfooter {
        font-size: .8rem;
    }

}