/*   STYLE.CSS - Estilização geral do site web 
*/


body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 36, 36);
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

mark {
    border-bottom: 1px solid rgb(100, 148, 237);
    background-color: transparent;
    color: rgb(36, 36, 36);
}

h1 {
    color: rgb(51, 51, 51);
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

/* === MENU DESKTOP === */
nav,
ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

li {
    flex: 1;
    aspect-ratio: 1 / 1;
    justify-content: center;
    background-color: rgb(164, 203, 255);
    list-style-type: none;
    margin: 5px;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
}

.menu_title {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(78, 97, 121);
    padding-bottom: 10px;
}

.desc_menu {
    color: rgb(107, 132, 163);
    font-size: 14px;
}

nav li.active {
    background-color: rgb(233, 233, 233);
}

main,
section,
footer,
aside,
article,
header {
    margin: 30px auto;
    max-width: 600px;
    width: 100%;
}

.txtfooter {
    text-align: center;
}

.content {
    padding: 5px 25px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    color: rgb(75, 75, 75);
    line-height: 24px;
}

.item {
    margin: 10px;
}

.input,
.select {
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 8px;
    border-bottom: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    width: 40%;
    color: rgb(51, 51, 51);
}

.button {
    border: none;
    padding: 10px;
    background-color: rgb(65, 65, 65);
    color: #ffffff;
    border-radius: 5px;

}

.required, .required-txt {
    color: crimson;
}

.h4_subtitles {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #c9c9c9;
    display: inline-block;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#description {
    background-color: rgba(96, 152, 255);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 15px;
    line-height: 20px;
    box-sizing: border-box;
}

#subtitle {
    color: rgb(92, 92, 92);
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}

#form_area {
    padding: 15px 15px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    color: rgb(75, 75, 75);
    margin-top: 20px !important;
}

#footer {
    margin-bottom: 30px;
}

/* === MENU MOBILE === */

.menu-mobile {
    display: none;
}

#menu-toggle {
    display: none;
}

/* Container do botão do menu */
.menu-button-container {
    display: block;
    position: absolute;
    top: 40px;
    left: 30px;
    height: 25px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
}

.menu-button {
    background-color: #333;
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
}

.menu-button::before,
.menu-button::after {
    background-color: #333;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.menu-button::before {
    top: -10px;
}

.menu-button::after {
    top: 10px;
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background-color: rgba(0, 0, 0, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    transform: rotate(45deg);
    top: 0;
    background-color: #FFFFFF;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    transform: rotate(-45deg);
    top: 0;
    background-color: #FFFFFF;
}

/* Estilos da lista de links (o menu que aparece) */
.menu-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.966);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.menu-list li {
    margin: 0;
    width: 100%;
    height: 18%;
    align-items: center;
    text-align: center;
    background-color: transparent;
    flex: 0;
}

.menu-list a {
    padding: 25px 15px 5px 15px;
    display: inline-block;
    border-bottom: 1px solid #ffffff2f;
    font-size: 2rem;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
}

#menu-toggle:checked~.menu-list {
    transform: translateX(0);
}