/*   STYLE.CSS - Estilização geral do site web 
     Organização em tags > classes > ids
*/


body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 36, 36);
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

mark {
    border-bottom: 1px solid rgb(100, 148, 237);
    background-color: transparent;
}

h1 {
    color: rgb(51, 51, 51);
    font-family: "Homenaje", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

nav,
ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

li {
    flex: 1;
    aspect-ratio: 1 / 1;
    justify-content: center;
    background-color: rgb(164, 203, 255);
    list-style-type: none;
    margin: 5px;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
}

main,
section,
footer,
aside,
article,
header {
    margin: 30px auto;
    width: 600px;
}

nav li.active {
    background-color: rgb(233, 233, 233);
}



.txtfooter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

.content {
    padding: 5px 25px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    color: rgb(75, 75, 75);
    line-height: 24px;
}

.item {
    margin: 10px;
}

.menu_title {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(78, 97, 121);
    padding-bottom: 10px;
}

.desc_menu {
    color: rgb(107, 132, 163);
    font-size: 14px;
}

.input,
.select {
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 8px;
    border-bottom: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    width: 40%;
    color: rgb(51, 51, 51);
}

.button {
    border: none;
    padding: 10px;
    background-color: rgb(65, 65, 65);
    color: #ffffff;
    border-radius: 5px;

}

.required {
    color: crimson;
}



.h4_subtitles {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #c9c9c9;
    display: inline-block;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#description {
    background-color: rgba(96, 152, 255);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 15px;
    line-height: 20px;
    box-sizing: border-box;
}

#subtitle {
    color: rgb(92, 92, 92);
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}

#form_area {
    padding: 15px 15px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    color: rgb(75, 75, 75);
    margin-top: 20px !important;
}

#footer {
    margin-bottom: 30px;
}