<!--TEMPLATES/HOME.HTML-->
<!-- 
TODO: Confirmação: uma mensagem para confirmar que o alerta foi criado com sucesso? Pode ser uma página ou um aviso no mesmo lugar.
TODO: Segurança: CAPTCHA
TODO: Acessibilidade: testar com teclado e leitor de tela para garantir.
-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Sistema web para monitoramento de assuntos" />
    <meta name="keywords"
        content="sistema de alertas, sistema de monitoramento de web, alertas para assuntos específicos" />
    <title>Trago Notícias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Homenaje&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <hgroup>
            <h1>&#128240; trago notícias</h1>
            <h2 id="subtitulo">Saiba o que há de <mark>novo</mark> com assuntos do seu interesse!</h2>
        </hgroup>
    </header>
    <main>
        <article id="descricao">
            <p>Sed pellentesque tempor risus ac laoreet. Etiam pretium maximus eleifend. Vestibulum et leo odio.
                Curabitur metus neque, euismod et eleifend nec, dictum et odio. Nunc consequat leo nec ligula laoreet,
                non euismod ex ullamcorper. Pellentesque eu tortor quis quam mollis placerat..</p>
        </article>

        <section id="formulario">
            <form action="/processamento" method="post">
                <div class="item">
                    <label for="name">Meu nome é: <span class="obrigatorio">*</span> </label>
                    <input type="text" id="name" class="input" name="name" placeholder="Maria" required />
                </div>

                <div class="item">
                    <label for="assunto">Quero receber uma alerta sobre: <span class="obrigatorio">*</span> </label>
                    <input type="text" id="assunto" class="input" name="assunto" placeholder="ex.: ProUni 2029"
                        required />
                </div>
                <div class="item">
                    <label for="email">Quero receber esse alerta pelo e-mail: <span class="obrigatorio">*</span>
                    </label>
                    <input type="email" id="email" class="input" name="email" placeholder="maria@email.com" required />
                </div>
                <div class="item">
                    <label for="frequencia">E quero receber esse alerta: <span class="obrigatorio">*</span> </label>
                    <select id="frequencia" name="frequencia" class="select">
                        <option value="" selected disabled>Selecione a frequência</option>
                        <option value="diario">Diariamente</option>
                        <option value="semanal">Semanalmente</option>
                        <option value="mensal">Mensalmente</option>
                        <option value="anual">Anualmente</option>
                    </select>
                </div>
                <div class="form-footer">
                    <div class="required">* = campos obrigatórios</div>
                    <button type="submit" class="botao">Criar alerta</button>
                </div>
            </form>
        </section>
    </main>
    <aside>
        <nav>
            <ul>
                <a href="">
                    <li>
                        <div class="titulomenu">Como funciona</div>
                        <div class="descmenu">lorem ipsum dolor</div>
                    </li>
                </a>
                <a href="">
                    <li>
                        <div class="titulomenu">O projeto</div>
                        <div class="descmenu">lorem ipsum dolor</div>
                    </li>
                </a>
                <a href="">
                    <li>
                        <div class="titulomenu">Uso de dados</div>
                        <div class="descmenu">lorem ipsum dolor</div>
                    </li>
                </a>
                <a href="">
                    <li>
                        <div class="titulomenu">Contato</div>
                        <div class="descmenu">lorem ipsum dolor</div>
                    </li>
                </a>
            </ul>
        </nav>
    </aside>

    <footer id="footer">
        <p class="txtfooter"><mark>Desenvolvido por <a href="https://github.com/vio1995" target="_blank"
                    title="Github">@vio1995</a></mark></p>
    </footer>
</body>

</html>