<!--TEMPLATES/HOME.HTML-->

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Sistema web para monitoramento de assuntos" />
        <meta name="keywords" content="sistema de alertas, sistema de monitoramento de web, alertas para assuntos específicos" />
        <title>Trago Noticias</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <header>
            <hgroup>
                <h1>trago noticias</h1>
                <h2>Saiba o que há de novo com assuntos do seu interesse!</h2>   
            </hgroup>
        </header>

        <article>
            <p>Uma descrição pequena-média sobre o sistema.</p>
        </article>

        <article>
            <form>
                
            </form>
        </article>

        <aside>
            <nav>
                <ul>
                    <li>Como funciona</li>
                    <li>O projeto</li>
                    <li>Uso de dados</li>
                    <li>Contato</li>
                </ul>
            </nav>
        </aside>

        <footer>
            <p>Desenvolvido por <a href="https://github.com/vio1995" target="_blank" title="Github">@vio1995</a></p>
        </footer>
    </body>
</html>