{% extends "base.html" %}

{% block title %} {{ super() }} - Como funciona {% endblock %}

{%block content %}
<h2 id="subtitle">Como isso funciona?</h2>

<section class="content">
    <h3>Sobre</h3>

    <p>O projeto foi criado para permitir que usuários acompanhem assuntos de temas específicos de forma prática e
        automatizada. A ideia central é que o usuário informe um termo de interesse (como o título de um livro, um tema
        de estudo ou um assunto de atualidade), e o sistema monitore automaticamente a internet em busca de notícias
        relacionadas, enviando alertas sempre que novas informações forem encontradas.</p>
    <p> </p>
    <h3>Funcionamento</h3>

    <h4>1. Cadastro do termo de interesse</h4>
    <p>O usuário acessa o sistema e cadastra um termo que deseja monitorar. Esse termo precisa ser um pouco específico
        para
        não gerar alertas desnecessários. Verifique o <a href="{{url_for('about.guide')}}">guia de uso</a> para
        cadastrar
        corretamente.</p>


    <h4>2. Armazenamento do termo</h4>
    <p>Após o cadastro, o termo é salvo em um banco de dados. Esse banco de dados organiza todos os termos cadastrados
    e
    permite que o sistema faça buscas diariamente de forma eficiente.</p>


    <h4>3. Busca automática por notícias</h4>
    <p>O sistema realiza buscas diárias na internet, consultando sites de notícias para identificar novas publicações que contenham o
    termo cadastrado.</p>


    <h4>4. Filtragem e organização das notícias</h4>
    <p>As notícias encontradas são processadas, verificando duplicações e relevância, para garantir que o usuário
    receba apenas informações úteis e atualizadas sobre o tema. Se você cadastrar um termo hoje, por exemplo, pode
    receber
    informações sobre esse termo a partir de amanhã, se houver novidades.</p>


    <h4>5. Envio de alertas</h4>
    <p>Sempre que uma nova notícia é encontrada, o sistema envia um alerta ao usuário. Dessa forma, o usuário se mantém
    atualizado sem precisar procurar manualmente.</p>

    
    <h4>6. Ciclo de vida do termo</h4>
    <p>Os termos possuem um ciclo de vida definido. Assim que você recebe alguma novidade por email sobre ele, esse
    termo é desativado. Isso significa que você não receberá mais informações sobre ele. Para continuar monitorando, é
    necessário fazer um novo cadastro do termo.</p>

</section>
{% endblock %}