<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Sistema web para monitoramento de assuntos">
    <meta name="keywords"
        content="sistema de alertas, sistema de monitoramento de web, alertas para assuntos específicos">
    <title>{% block title %} Trago Notícias {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&family=Homenaje&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <header>
        <h1>trago notícias</h1>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>

    <aside>
        <nav class="menu-desktop">
            <ul>
                <li class="{% if request.path == url_for('home.index') %} active {% endif %}">
                    <a href="{{ url_for('home.index') }}">
                        <div class="menu_title">Página inicial</div>
                        <div class="desc_menu">Cadastre seus alertas</div>
                    </a>
                </li>
                <li class="{% if request.path == url_for('home.about') %} active {% endif %}">
                    <a href="{{ url_for('home.about') }}">
                        <div class="menu_title">Como funciona</div>
                        <div class="desc_menu">Entenda sobre o projeto</div>
                    </a>
                </li>
                <li class="{% if request.path == url_for('about.guide') %} active {% endif %}">
                    <a href="{{ url_for('about.guide') }}">
                        <div class="menu_title">Guia de uso</div>
                        <div class="desc_menu">Saiba como cadastrar os termos</div>
                    </a>
                </li>
                <li class="{% if request.path == url_for('home.contact') %} active {% endif %}">
                    <a href="{{ url_for('home.contact') }}">
                        <div class="menu_title">Contato</div>
                        <div class="desc_menu">Me traga notícias!</div>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="menu-mobile">
            <input id="menu-toggle" type="checkbox" />

            <label class="menu-button-container" for="menu-toggle">
                <div class="menu-button"></div>
            </label>

            <ul class="menu-list">
                <li><a class="{% if request.path == url_for('home.index') %} active {% endif %}"
                        href="{{ url_for('home.index') }}">Página inicial</a></li>
                <li><a class="{% if request.path == url_for('home.about') %} active {% endif %}"
                        href="{{ url_for('home.about') }}">Como funciona</a></li>
                <li><a class="{% if request.path == url_for('about.guide') %} active {% endif %}"
                        href="{{ url_for('about.guide') }}">Guia de uso</a></li>
                <li><a class="{% if request.path == url_for('home.contact') %} active {% endif %}"
                        href="{{ url_for('home.contact') }}">Contato</a></li>
                <li><a class="{% if request.path == url_for('home.privacy') %} active {% endif %}"
                        href="{{ url_for('home.privacy') }}">Uso de dados</a></li>
            </ul>
        </div>
    </aside>

    <footer id="footer">
        <p class="txtfooter">
            © 2026 Trago Notícias, <a href="https://github.com/vitoriadeo/trago-noticias" target="_blank">Github</a>.
        </p>
    </footer>
</body>

</html>