<!--TEMPLATES/HOME.HTML-->
<!-- 
TODO: Confirmação: uma mensagem para confirmar que o alerta foi criado com sucesso? Pode ser uma página ou um aviso no mesmo lugar.
TODO: Segurança: CAPTCHA
TODO: Acessibilidade: testar com teclado e leitor de tela para garantir.
-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Sistema web para monitoramento de assuntos" />
    <meta name="keywords"
        content="sistema de alertas, sistema de monitoramento de web, alertas para assuntos específicos" />
    <title>{% block title %} Trago Notícias {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Homenaje&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <hgroup>
            <h1>trago notícias</h1>
        </hgroup>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <aside>
        <nav>
            <ul>
                <a href="{{ url_for('home.index') }}">
                    <li>
                        <div class="titulomenu">Página inicial</div>
                        <div class="descmenu">Cadastre seus alertas</div>
                    </li>
                </a>
                <a href="{{ url_for('home.about') }}">
                    <li>
                        <div class="titulomenu">Como funciona</div>
                        <div class="descmenu">Entenda sobre o projeto</div>
                    </li>
                </a>
                <a href="{{ url_for('home.privacy') }}">
                    <li>
                        <div class="titulomenu">Uso de dados</div>
                        <div class="descmenu">LGPD e política de privacidade</div>
                    </li>
                </a>
                <a href="{{ url_for('home.contact') }}">
                    <li>
                        <div class="titulomenu">Contato</div>
                        <div class="descmenu">Me traga notícias!</div>
                    </li>
                </a>
            </ul>
        </nav>
    </aside>

    <footer id="footer">
        <p class="txtfooter"><mark>Desenvolvido por <a href="https://github.com/vio1995" target="_blank"
                    title="Github">@vio1995</a></mark></p>
    </footer>
</body>

</html>