{% extends "base.html" %}

{% block title %} {{ super() }} - Contato {% endblock %}

{% block content %}
<h2 id="subtitle">Entre em contato</h2>

<section class="content">
    <p>Para dúvidas, sugestões ou parcerias, envie um e-mail para <a href="mailto:contato@tragonoticias.site">contato@tragonoticias.site</a></p>
    <p>Consulte nossa política de privacidade <a href="{{ url_for('home.privacy') }}">aqui.</a></p>
    <h4 class="h4_subtitles">Redes sociais</h4>
    <p>LinkedIn, <a href="https://www.linkedin.com/in/vitoriadeo">aqui.</a></p>
    <p>GitHub, <a href="https://github.com/vitoriadeo">aqui.</a></p>
</section>
{% endblock %}