{% extends "base.html" %}

{% block title %} Contato {% endblock %}

{% block content %}
<h2 id="subtitulo">Entre em contato</h2>

<section class="conteudo">
    <p>Você pode mandar um email para vitoriadeo@yahoo.com ou usar o formulário abaixo. </p>

    <form>
        <div class="item">
            <label for="name">Seu nome: </label>
            <input type="text" id="name" class="input" required />
        </div>

        <div class="item">
            <label for="email">Seu e-mail: </label>
            <input type="email" id="email" class="input" required />
        </div>

        <div class="item">
            <label for="subject">Assunto: </label>
            <input type="text" id="subject" class="input" required />
        </div>

        <div class="item">
            <label for="msn">Mensagem: </label>
            <textarea id="msn"></textarea>
        </div>
    </form>

</section>
{% endblock %}