{% extends "base.html" %}

{% block title %} {{ super() }} - Página Inicial {% endblock %}

{% block content %}
<h2 id="subtitle">Saiba o que há de <mark>novo</mark> com assuntos do seu interesse!</h2>

<article id="description">
    <p>Monitoramos a web em busca de notícias sobre os assuntos que mais te interessam. Basta cadastrar um termo de
        busca e você receberá as novidades diretamente no seu e-mail, de forma prática e organizada.
    </p>
</article>

<section id="form_area">
    <form id="form_alerts" action="/" method="POST">
        {{ form.hidden_tag() }}

        <input type="hidden" id="recaptcha-response" name="recaptcha-response">

        <div class="item">
            {{form.name.label}}
            {{form.name(class='input')}}
        </div>


        <div class="item">
            {{form.email.label}}
            {{form.email(class='input')}}
        </div>

        <div class="item">
            {{form.word.label}}
            {{form.word(class='input', placeholder='Ex.: série os testamentos', aria_describedby="word-help-text")}}
            <p class="help-text" id="word-help-text">
                Cadastre apenas <b>um termo</b> específico por vez. Temos um pequeno <a
                    href="{{url_for('about.guide')}}"><b>guia de uso</b></a> que pode ajudar! (máx. 255 caracteres)
            </p>
        </div>

        <div class="item">
            {{form.frequency.label}}
            {{form.frequency(class='select', aria_describedby="frequency-help-text")}}
            <p class="help-text" id="frequency-help-text">
                Determine a frequência que deseja receber os alertas por e-mail.
            </p>
        </div>
        <div class="form-footer">
            {{ form.submit_button }}
        </div>

        <div class="g-recaptcha" data-sitekey="{{config.RECAPTCHA_SITE_KEY}}"></div>
        <br />

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }}">
            <p>
                {% if category == 'confirmation' %}
                ✅️
                {% elif category == 'error' %}
                ❌
                {% endif %}

                {{ message }}
            </p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </form>
</section>
{% endblock %}