{% extends "base.html" %}

{% block title %} {{ super() }} - Página Inicial {% endblock %}

{% block content %}
<h2 id="subtitle">Saiba o que há de <mark>novo</mark> com assuntos do seu interesse!</h2>

<article id="description">
    <p>Monitoramos a web em busca de notícias sobre os assuntos que mais te interessam. Basta cadastrar um termo de
        busca e você receberá as novidades diretamente no seu e-mail, de forma prática e organizada.
    </p>
</article>

<section id="form_area">
    <form id="form_alerts" action="/" method="POST">
        {{ form.csrf_token }}
        <input type="hidden" id="recaptcha-response" name="recaptcha-response">
        <div class="item">
            {{form.name.label}}
            <span class="required">*</span>
            {{form.name(class='input')}}
        </div>

        <div class="item">
            {{form.word.label}}
            <span class="required">*</span>
            {{form.word(class='input', placeholder='ex.: série os testamentos')}}
        </div>
        <div class="item">
            {{form.email.label}}
            <span class="required">*</span>
            {{form.email(class='input')}}
        </div>
        <div class="item">
            {{form.frequency.label}}
            <span class="required">*</span> 
            {{form.frequency(class='select')}}
        </div>
        <div class="form-footer">
            <div class="required-txt">(*) Campos obrigatórios</div>
            <button type="submit" class="button">Criar alerta</button>
        </div>

        {% if status == 'sucesso' %}
        <div class="confirmation">
            <p>✅️ {{mensagem}}</p>
        </div>
        {% elif status == 'falha' %}
        <div class="error">
            <p>❌ {{mensagem}}</p>
        </div>
        {% endif %}

    </form>
</section>
{% endblock %}