{% extends "base.html" %}

{% block title %} Política de privacidade {% endblock %}

{%block content %}
<h2 id="subtitulo">Política de privacidade</h2>

<section class="conteudo">
    <p>Última atualização: 15 de agosto de 2025</p>

    <p>Este projeto respeita a privacidade e a proteção dos dados pessoais dos usuários, conforme a Lei Geral de
        Proteção de Dados (Lei nº 13.709/2018 – LGPD).
    </p>
    <h4 class="h4_subtitles">Dados coletados</h4>
    <p>Ao utilizar este site, podemos coletar: nome (para personalizar a comunicação) e endereço de e-mail (para envio de alertas de notícias).</p>

    <h4 class="h4_subtitles">Finalidade da coleta</h4>
    <p>Os dados coletados serão usados exclusivamente para enviar alertas sobre notícias relacionadas aos termos cadastrados pelo usuário.</p>

    <h4 class="h4_subtitles">Base legal</h4>
    <p>O tratamento dos dados é realizado com base no consentimento do titular, concedido no momento do cadastro.</p>

    <h4 class="h4_subtitles">Compartilhamento de dados</h4>
    <p>Não compartilhamos seus dados com terceiros, exceto quando exigido por lei.</p>

    <h4 class="h4_subtitles">Armazenamento e segurança</h4>
    <p>Os dados são armazenados em banco de dados seguro, com acesso restrito e medidas de proteção contra acesso não
    autorizado.</p>

    <h4 class="h4_subtitles">Prazo de retenção dos dados</h4>
    <p>Os dados serão mantidos enquanto o usuário mantiver seu cadastro ativo ou até a solicitação de exclusão, o que
    ocorrer primeiro.</p>

    <h4 class="h4_subtitles">Direitos do titular</h4>
    <p>Você pode, a qualquer momento: solicitar acesso aos seus dados, solicitar a correção ou exclusão e revogar o consentimento.</p>

    <h4 class="h4_subtitles">Canal de contato</h4>
    <p>Responsável pelo tratamento de dados: Vitória Oliveira. O e-mail para solicitações é [vitoriadeo@yahoo.com] ou acesse a aba 'Contato' no menu abaixo.</p>

    <h4 class="h4_subtitles">Alterações nesta política</h4>
    <p>Podemos atualizar este documento para melhor atender à legislação ou melhorias no serviço. Recomendamos verificar
    esta página periodicamente.</p>

</section>
{% endblock %}