{% extends "base.html" %}

{% block title %} {{ super() }} - Portais de notícias {% endblock %}

{%block content %}
<h2 id="subtitle">Portais de notícias</h2>

<section class="content">
    <p>A raspagem de dados é feita no agregador de notícias Google News. Após a raspagem, o programa seleciona apenas
        os portais listados abaixo. O motivo de haver essa separação é para ter mais controle de onde a notícia vem e
        também para não permitir fontes que vêm de redes sociais, onde o acesso geralmente só pode ser feito via login.
    </p>
    <p>
        {% for site in sites %}
        {{site}}<br>
        {% endfor %}</p>
    <p>Caso tenha algum portal de notícias favorito, ele também pode ser adicionado. Basta entrar em <a href="{{url_for('home.contact')}}">contato!</a></p>
</section>
{% endblock %}